
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/metadata/
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptMapper
Library/ShaderCache.db
Library/ShaderCache/
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SpriteAtlasDatabase.asset
Library/TilemapEditorUserSettings.asset
steam_appid.txt
steam_api64.dll
UnityPackageManager/manifest.json
*.bin
*.cache
*.log
*.info
